<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1640034668,
	"contentType":"story",
	"canonicalURL":"https:\/\/www.seattletimes.com\/pacific-nw-magazine\/our-2021-pictures-of-the-year-issue-chronicles-historic-challenges-much-needed-hope-and-more-than-one-notable-needle\/",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2021-12-26 07:00:00",
	"modifieddate":"2021-12-08 12:38:58",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"pacific-nw-magazine-cover-stories",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":""pacific-nw-magazine",
	"section_tier2":"",
	"sections_all":"pacific-nw-magazine|pacific-nw-magazine-cover-stories",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
